/* Screen size 320px */

/* Default block */

.block {
    margin: 2.5em 0;

    border-radius: 0.8em;
}

.topic {
    display: flex;
    
    width: 100%;
    height: 1.5em;
    
    justify-content: space-between;
    align-items: center;
    
    background: url(../resources/icon/border.gif) center center repeat-x;
}

.white-line {
    background: url(../resources/icon/border_w.gif) center center repeat-x;
}

.topic b {
    padding-right: 1em;
    
    background-color: #ffffff;
    
    font-size: 1.5em;
}

.topic a {
    padding-left: 1em;
    
    background-color: #ffffff;
}

/* Block 2 */

.header__top {
    display: flex;
    justify-content: space-between;

    margin: 1em 0 0;
}

.header__top .city, 
.header__top .cabinet,
.header__top .login {
    cursor: pointer;
    color: #4673ab;
}

.header__top .login {
    margin-right: 0.3em;
}

.header__top .login, .header__top .slash {
    display: none;
}

.header__main {
    margin-top: 1.5em;
    display: flex;

    flex-flow: column wrap;
    justify-content: space-between;
}

.header__main > * {
    width: 40%;
}

.header__main .logo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #040d0d;
    font-size: 1.8em;
    font-weight: lighter;
}

.logo__text div {
    display: inline-block;

    margin: 0 3px;
    padding: 3px 4px;

    color: #ff6837;
    background: linear-gradient(217deg, rgb(171, 155, 155), rgb(255, 255, 255), rgb(236, 220, 220)70.71%);
    border-radius: 5px;
}

.logo__tagline {
    font-size: 0.5em;
}

.contacts .contacts__recall {
    text-align: center;
}

.dotted {
    border-bottom: 2px red dashed;
}

/* Block 5 */

.widget {
    display: none;

    margin-top: 1.2em;
    padding: 0.8em 0.4em;

    border-radius: 0.8em;

    background-color: #e3e5eb;
    font-style: italic;
    text-align: center;
}

.widget span {
    color:#4673ab;
}

/* Block 6 */
#main-slider-wrap {
    display: none;
    position: relative;
    overflow: hidden;
    height: 400px;
    
    margin-top: 1.2em;

    border-radius: 0.8em;
}

#main-slider-wrap .slider {
    width: 100%;
    height: 100%;
}

#main-slider-wrap .left-arr, #main-slider-wrap .right-arr {
    position: absolute;

    top: 45%;

    width: 1em;
    height: 10%;
}

#main-slider-wrap .left-arr {
    left: 3%;

    background: url(../resources/icon/arrow-left.svg) center center;
}

#main-slider-wrap .right-arr {
    right: 3%;

    background: url(../resources/icon/arrow-right.svg) center center;
}

#main-slider-wrap .slider .slide {
    width: 100%;
    height: 100%;

    background: url(../resources/image/block-6-background.png) center center no-repeat;
    background-size: cover;
}

/* Block 11 */

.buy--now {
    display: none;
}

.buy--now .items {
    display: flex;
    justify-content: space-between;

    margin-top: 2em;
}

.buy--now .items > div {
    display: none;
    width: 30%;
}

.buy--now .items > div:nth-child(-n+3) {
    display: block;
}

.buy--now .items > div img {
    margin-bottom: 1.5em;
    width: 200px;
    height: 200px;
}

.buy--now .items > div a {
    display: block;
}

/* Block 12 */

.brands {
    display: none;
}

.brands img {
    width: 100%;
    margin-top: 2.5em;
}

/* Block 13 */

.block.widget {
    padding: 2em;
}

.block.widget {
    font-style: normal;
}

.block.widget .topic b {
    background-color: #e3e5eb;
}

.block.widget .items {
    display: flex;
    justify-content: space-around;

    margin-top: 2em;
}

.block.widget .items > div {
    width: 20%;
    text-align: center;
}

.block.widget .items > div figure {
    width: 100px;
    height: 100px;

    margin: 0 auto 1.5em;

    border-radius: 50%;
    background-color: white;
}

.block.widget .items > div figure img {
    margin-top: 25%;
}

/* Block 14 */

.reasons {
    display: none;
}

.reasons__main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.reasons__main {
    margin-top: 2em;
}

.reasons__main .good_reasons, .reasons__main .bad_reasons {
    width: 48%;
    position: relative;
}

.reasons__main .good_reasons > h2, .reasons__main .bad_reasons > h2 {
    height: 5.5em;

    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;

    padding: 2em 1em 2em 1em;
    color: white;
}

.reasons__main .good_reasons > ul, .reasons__main .bad_reasons > ul {
    display: block;
    list-style: none;

    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    
    margin-inline-start: -10px;
    margin-inline-end: 10px;
    padding-inline-start: 40px;
}

.reasons__main ul li {
    margin-bottom: 1em;
}

.reasons__main .good_reasons > ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #16a333;
}

.reasons__main .bad_reasons > ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #cb0b13;
}

.reasons__main .good_reasons > h2 {
    padding-top: 2.3em;
    background-color: #16a333;
}

.reasons__main .bad_reasons > h2 {
    padding-top: 1.5em;
    background-color: #cb0b13;
}

.reasons__main .bad_reasons:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.8em;
    box-shadow: 0px 0px 0px 2px #cb0b13 inset;
}

.reasons__main .good_reasons:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.8em;
    box-shadow: 0px 0px 0px 2px #16a333 inset;
}

/* Screen size 750px */

@media (min-width: 750px) {
    .widget, #main-slider-wrap, .brands, .reasons, .buy--now {
        display: block;
    }

    .header__top .login, .header__top .slash {
        display: inline;
    }

    .header__main {
        flex-direction: row;
    }

    .header__main > * {
        width: 20%;
    }
}

/* Screen size 980px*/

@media (min-width: 980px) {
    .block.buy--now .items > div {
        max-width: 23%;
        width: auto;
    }

    .block.buy--now .items > div:nth-child(-n+4) {
        display: block;
    }
}

/* Screen size 1140px */

@media (min-width: 1140px) {
    
}
