/* Screen size 320px */

/* Default block */

.block {
    height: 400px;
    margin-top: 1.2em;

    border-radius: 0.8em;
}

.block:last-child {
    margin-bottom: 1.2em;
}

.topic {
    display: flex;

    width: 100%;
    height: 1.5em;

    justify-content: space-between;
    align-items: center;

    background: url(../resources/icon/border.gif) center center repeat-x;
}

.white-line {
    background: url(../resources/icon/border_w.gif) center center repeat-x;
}

.topic b {
    padding-right: 1em;

    background-color: #ffffff;

    font-size: 1.5em;
}

.topic a {
    padding-left: 1em;

    background-color: #ffffff;
}

/* Block 2 */

.header__top {
    display: flex;
    justify-content: space-between;

    margin: 1em 0 0;
}

.header__top .city, 
.header__top .cabinet,
.header__top .login {
    cursor: pointer;
    color: #4673ab;
}

.header__top .login {
    margin-right: 0.3em;
}

.header__top .login, .header__top .slash {
    display: none;
}

.header__main {
    margin-top: 1.5em;
    display: flex;

    flex-flow: column wrap;
    justify-content: space-between;
}

.header__main > * {
    width: 40%;
}

.header__main .logo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #040d0d;
    font-size: 1.8em;
    font-weight: lighter;
}

.logo__text div {
    display: inline-block;

    margin: 0 3px;
    padding: 4px 5px;
}

.logo__tagline {
    font-size: 0.5em;
}

.contacts .contacts__recall {
    text-align: center;
}

.dotted {
    border-bottom: 2px red dashed;
}

/* Block 5 */

.widget {
    display: none;

    margin-top: 1.2em;
    padding: 0.8em 0.4em;

    border-radius: 0.8em;

    background-color: #e3e5eb;
    font-style: italic;
    text-align: center;
}

.widget span {
    color:#4673ab;
}

/* Block 6 */
#main-slider-wrap {
    display: none;
    position: relative;
    overflow: hidden;
    height: 400px;
    
    margin-top: 1.2em;

    border-radius: 0.8em;
    background-color: chocolate;
}

#main-slider-wrap .left-arr, #main-slider-wrap .right-arr {
    position: absolute;

    top: 50%;

    width: 20px;
    height: 20px;

    background-color: brown;
}

#main-slider-wrap .left-arr {
    left: 5%;
}

#main-slider-wrap .right-arr {
    right: 5%;
}

/* Screen size 750px */

@media (min-width: 750px) {
    .widget, #main-slider-wrap {
        display: block;
    }

    .header__top .login, .header__top .slash {
        display: inline;
    }

    .header__main {
        flex-direction: row;
    }

    .header__main > * {
        width: 20%;
    }
}

/* Screen size 980px*/

@media (min-width: 980px) {

}

/* Screen size 1140px */

@media (min-width: 1140px) {
    
}
